<%= form_for(@future) do |f| %>
  <% if @future.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@future.errors.count, "error") %> prohibited this future from being saved:</h2>

      <ul>
      <% @future.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :future_year %><br>
    <%= f.number_field :future_year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
