<table class="col-md-11 table table-striped table-hover">
  <thead>
    <tr>
      <th>Future Year</th>
      <th>Forcasted Value</th>
    </tr>
  </thead>

  <tbody>
    <% @futures.each do |future| %>
      <tr>
        <td><%= future.future_year %></td>
        <td><%= future.forcasted %></td>
        <td><%= future.time %></td>
        <td><%= link_to 'Modify', edit_future_path(future), :class => "btn btn-primary" %></td>
        <td><%= link_to 'Delete', future, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Future Data', new_future_path, :class => "col-md-2 btn btn-success" %>


