
<div class="input-area">
  <h2> Data Input </h2>
  <table class="col-md-11 table table-striped">
    <thead>
      <tr>
        <th>Year</th>
        <th>Data</th>
        <th>Time(t)</th>
        <th>X - Xbar</th>
        <th>t - tbar</th>
        <th>(X - Xbar)(t - tbar)</th>
        <th>(t - tbar)^2</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @forecasts.each do |forecast| %>
        <tr>
          <td><%= forecast.year %></td>
          <td><%= forecast.revenue %></td>
          <td><%= forecast.time %></td>
          <td><%= forecast.xxbar %></td>
          <td><%= forecast.ttbar %></td>
          <td><%= forecast.xxbar_ttbar %></td>
          <td><%= forecast.ttbar_sq %></td>
          <td><%= link_to 'Modify', edit_forecast_path(forecast), :class => "btn btn-primary" %></td>
          <td><%= link_to 'Delete', forecast, method: :delete, :class => "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Add New Data', new_forecast_path, :class => "col-md-2 btn btn-success" , :id => "new-data" %>
</div> <!-- .input-area -->
        
<div class="col-md-12 regression">
  <h3>Regression Results</h3>
  <p>Your Simple Linear Regression equation: <strong>  m = <%= @b0 %> + ( <%= @b1 %> ) t</strong></p>
</div>
<br>
<br>

<div>
  <table class="col-md-10 table table-striped">
    <thead>
      <tr>
        <th>Year</th>
        <th>Data</th>
        <th>Time(t)</th>
        <th>Xhat</th>
        <th>(X - Xhat)^2</th>
        <th>(Xhat - Xbar)^2</th>
        <th>(X - Xbar)^2</th>
      </tr>
    </thead>
    <tbody>
      <% @forecasts.each do |forecast| %>
        <tr>
          <td><%= forecast.year %></td>
          <td><%= forecast.revenue %></td>
          <td><%= forecast.time %></td>
          <td><%= forecast.xhat %></td>
          <td><%= forecast.x_xhatsq %></td>
          <td><%= forecast.xhat_xbarsq %></td>
          <td><%= forecast.x_xbarsq %></td>
        </tr>
      <%end%>
    </tbody>
    </table>
  </div>

  <div class="col-md-10">
<!--     <p>Your SSE value: <%= @sse %></p>
    <p>Your SSR value: <%= @ssr %></p>
    <p>Your SST value: <%= @sst %></p> -->
    <p>The regression of this data <i>R Squared</i>:  <strong><%= @r2 %>%</strong> of total variation explained by regression (higher R Squared = better fit) </p>
 </div>

<br>

<div class="col-md-10 forecast-area">
  <h3> Data to be forcasted</h3>
  <%= render :template => "futures/index" %>
</div>

<script>
$(document).ready(function() {
    var chart1 = new Highcharts.Chart({
        chart: {
            renderTo: 'chart-input',
        },
        title: {
            text: 'Data Input'
        },
        xAxis: {
            categories: <%= Forecast.total_years.each { |i| i.inspect } %>,
            title: {
              text: "Time"
                },
               },   
        yAxis: {
            title: {
                text: 'Data'
            }
        },
        series: [{
            name: "Input",
            data: <%= Forecast.total_revenues.each { |i| i.inspect} %>
          }, {
            name: "Regression Line",
            data: <%= Forecast.regression.each { |i| i.inspect} %>
        }]
    });
});
</script>

<div class="output-area">
  <h2 class="col-md-10 output-area">Output Chart</h2>
  <div id="chart-input", class="col-md-10"></div>
</div>





