<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @forecast.year %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @forecast.revenue %>
</p>

<%= link_to 'Edit', edit_forecast_path(@forecast) %> |
<%= link_to 'Back', forecasts_path %>
