<!DOCTYPE html>
<html>
<head>
  <title>Data Forecasting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'highcharts', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
    <div class="row">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li><%= link_to "foretoken", "#",  :class => "navbar-brand" %></li>
          <li><%= link_to "About", '#' %></li>
          <li><%= link_to "Home", '#' %></li>
        </ul>
      </div>
    </div>
  </nav>
  <% if !flash[:notice].blank? %>
          <div class="notice">
            <%= flash[:notice] %>
          </div>
  <%end%>
  <%= yield %>
  </div>	
</div>


<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
</body>
</html>
